$bg_color: #0A0B0B;
$font_color: #FFFFFF;
$header_bg_color: rgba(0, 0, 0, 0.5);
$purple: rgba(220, 93, 252, 1);
$bg_secondary: rgba(57, 59, 60, 1);
$color_content_disabled: rgba(255, 255, 255, 0.5);
$content_placeholder: rgba(0, 0, 0, 0.4);
$green: #308E21;
$brand_active: rgba(106, 93, 194, 1);

$z-100: 100;
$z-10: 10;
$z-not-1: -1;